@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?d50x3q');
	src:url('../fonts/icomoon.eot?#iefixd50x3q') format('embedded-opentype'),
		url('../fonts/icomoon.woff?d50x3q') format('woff'),
		url('../fonts/icomoon.ttf?d50x3q') format('truetype'),
		url('../fonts/icomoon.svg?d50x3q#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
	content: "\e600";
}
.icon-mail:before {
	content: "\e601";
}
.icon-envelope:before {
	content: "\e602";
}
.icon-lock:before {
	content: "\e603";
}
.icon-cogs:before {
	content: "\e604";
}
.icon-mug:before {
	content: "\e605";
}
.icon-share:before {
	content: "\e606";
}
.icon-twitter:before {
	content: "\e607";
}
.icon-github:before {
	content: "\e608";
}
.icon-linkedin2:before {
	content: "\e609";
}
